body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 24px;
  color: white;
  margin: 0px;
}

h1 {
  font-size: 64px;
}

h2 {
  color: white;
  font-size: 30px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

button {
  background-color: #3882f6;
  color: white;
  height: 50px;
  width: 140px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.header {
  background-color: #1f2937;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  padding-bottom: 100px;
}

.header-links {
  display: flex;
  gap: 50px;
  margin-right: 35px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  height: 500px;
}

.image-placerholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 300px;
  width: 600px;
  color: white;
  font-size: 20px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
}

.hero-container-content {
  width: 550px;
}

.hero-container-content-subtext p {
  color: #e5e7eb;
}

.hero-container-content-headerliner h1 {
  color: white;
  margin: 0px;
}

.column-white p {
  background-color: white;
  color: #1f2937;
}

.column-white-title p {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  padding-top: 20px;
  justify-content: center;
}

.column-white-all-boxes {
  display: flex;
  margin-top: 50px;
  height: 500px;
  justify-content: center;
  gap: 80px;
}

.column-white-box {
  border: 5px solid #3882f6;
  justify-content: center;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.text1 {
  text-align: center;
  font-size: 22px;
  width: 200px;
}

.column-white-text {
  display: flex;
  justify-content: space-evenly;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #e5e7eb;
}

.quote-section-container-quote p {
  color: #1f2937;
  width: 1000px;
  font-size: 42px;
  font-weight: 100;
  font-style: italic;
}
.quote-section-container-quote-name p {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.call-to-action-section {
  width: 1500px;
  height: 200px;
  background-color: #3882f6;
  border-radius: 20px;
}
.call-to-action-sectio-text-and-button {
  display: flex;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.call-to-action-large-text {
  font-size: 32px;
  font-weight: bold;
}

.call-to-action-small-text p {
  font-weight: 100;
}

.call-to-action-section-button button {
  border: 3px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 150px;
}
.footer-text p {
  color: #e5e7eb;
}
